.searchContainer {
    position: relative;
    z-index: 100;

    width: 100%;
    min-width: 0;

    box-sizing: border-box;
}

.searchInput {
    display: block;

    width: 100%;
    min-width: 0;

    padding: 16px 16px 16px 50px;

    border: 1px solid #d1d5db;
    border-radius: 16px;

    font-size: 18px;

    outline: none;
    transition: 0.2s;

    box-sizing: border-box;
}

.searchInput:focus {
    border-color: #4f46e5;
}

.searchIcon {
    position: absolute;
    left: 16px;
    top: 50%;

    transform: translateY(-50%);

    color: #9ca3af;
}